section{
display: flex;;
flex-direction: row;
flex: 2000px;
}
body{
        background-color: rgb(127, 127, 127);
}

ul {
    list-style-type: none;
    text-align: center;

}
li {
    float: right;
    padding: 10px;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.product-card {
    flex: 1 20%;
    text-align: center;
    margin-bottom: 25px;
    padding: 60px;

}
.product-card img {
    margin-bottom: 15px;
    width: 200px;

}
@media only screen and (min-width:768px) and (max-width:991px) {
   .product-card {
       flex: 1 50%;
   }
}
@media only screen  and (max-width:767px) {
   .product-card {
       flex: 100%;
    }
}
a{
    color: black;
}
a:link {
    color:#1098ad;
    text-decoration:none ;
}

a:visited{
    color: black;
}
a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline dashed orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}
footer  {
            bottom: 0;
}